<div class="container px-5 px-sm-0 offset-md-1">
  <div class="row">
    <div class="col-md-10">
      <h4 class="my-5 ml-5">会員情報編集</h4>
      <%= render "layouts/errors", obj:@customer %>

    <%= form_with model: @customer, url:customers_infomation_path(@customer), local:true do |f| %>
      <div class="form-group row">
        <%= f.label :氏名, class:"col-sm-3" %>
        <%= f.text_field :last_name, class: "form-control col-sm-3 mr-5" %>
        <%= f.text_field :first_name, class: "form-control col-sm-3" %>
      </div>

      <div class="form-group row">
        <%= f.label :フリガナ, class:"col-sm-3" %>
        <%= f.text_field :last_name_kana, class: "form-control col-sm-3 mr-5" %>
        <%= f.text_field :first_name_kana, class: "form-control col-sm-3" %>
      </div>

      <div class="form-group row">
        <%= f.label :郵便番号, class:"col-sm-3" %>
        <%= f.text_field :post_code, class: "form-control col-sm-3" %>
      </div>

      <div class="form-group row">
        <%= f.label :住所, class:"col-sm-3" %>
        <%= f.text_field :address, class: "form-control col-sm-9" %>
      </div>

      <div class="form-group row">
        <%= f.label :電話番号, class:"col-sm-3" %>
        <%= f.text_field :phone_number, class: "form-control col-sm-3" %>
      </div>

      <div class="form-group row">
        <%= f.label :メールアドレス, class:"col-sm-3" %>
        <%= f.email_field :email, class:"form-control col-sm-3" %>
      </div>
      </div>

    <div class="col-md-10 mt-2">
      <div>
        <%= f.submit "編集内容を保存", class:"btn btn-success col-4 offset-md-3" %>
        <%= link_to "退会する", customers_exit_path, class:"btn btn-danger offset-md-2" %>
      </div>
    <% end %>
    </div>
  </div>
</div>