<h1>Admin::Items#new</h1>

<div class="container">
  <div class="row mt-4">

    <h2>商品新規登録</h2>
    <div class="col-md-6 mt-4">
      <table class="table table-borderless">
        <!--バリデーションエラーメッセージ-->
        <% if @item.errors.any? %>
          <tr>
            <td></td>
            <td>
              <%= @item.errors.count %>件のエラーが発生しました
              <ul class="list-group list-unstyled">
                <% @item.errors.full_messages.each do |message| %>
                  <li class="text-danger"><%= message %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
        <!--登録フォーム-->
        <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
          <tr>
            <td>商品画像</td>
            <td><%= f.file_field :item_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, size: "30" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :description, size: "32x5" %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %></td>
          </tr>
          <tr>
            <td>税抜価格</td>
            <td><%= f.number_field :price %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <%= f.radio_button :status, 'true' %>販売中
              <%= f.radio_button :status, 'false' %>販売停止中
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit '新規投稿', class:"btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>