<div class="container">
  <div class="row mt-5">

    <!--ジャンル検索-->
    <div class="col-md-2">
      <table class="table table-bordered">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <!--各ジャンルeach文で入れる-->
          <% @genres.each do |genre| %>
            <tr>
              <td><%= link_to genre.name, items_path(genre_search: "true", genre_id: genre.id), class: "text-dark" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!--トップ画像-->
    <div class="col-md-9">
      <div class="col-md-10 text-center">
        <%= image_tag 'cake_top.jpg', width:'100%', height:'auto' %>
        <div class="card-img-overlay pt-1">
          <div class="background">
            <p class="shadow-lg font-weight-bold">
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br>
            </p>
          </div>
        </div>
      </div>

      <h3 class="my-3">新着商品</h3>
      <!--販売中の新着商品-->
      <div class="row ml-1">
        <% @items.last(4).reverse.each do |item| %>
          <%= link_to item_path(item), class:"col-3 text-dark" do %>
            <% image_tag item.get_image, size:"200x150" %><br>
            <%= item.name %><br>
            ¥<%= item.price.to_s(:delimited) %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex flex-row-reverse mt-2">
        <%= link_to "全ての商品を見る >", items_path %>
      </div>

    </div>
  </div>

</div>