<h1>Public::Items#index</h1>
<div class="row d-flex mt-5 ">
  <div class="col-1"></div>
    <div class="col-2">
      <!--<table class="table table-bordered table-hover">-->
      <!--  <thead>-->
      <!--    <tr>-->
      <!--      <th class="text-center">ジャンル検索</th>-->
      <!--    </tr>-->
      <!--  </thead>-->
      <!--  <tbody>-->
          <%#= render "public/products/genres_search", genres: @genres %>
      <!--  </tbody>-->
      <!--</table>-->
    </div>

    <div class="col-8">
      <div class="d-flex">
        <p style="font-size:35px">商品一覧</p>
        <p style="font-size:25px; line-height: 2;">(全<%= @items.count %>件)</p>
      </div>

      <div class="d-flex flex-wrap items_width">
        <% @items.each do |item| %>
          <div class="mx-3 my-3">
            <%= link_to item_path(item) do %>
            <!--⬇︎修正の必要あり-->
            <%#= image_tag item.get_item_image, size: "200x160" %>
              商品名
            <% end %><br>
            <%= item.name %><br>
            ¥<%= item.price %>
          </div>
        <% end %>
      </div>

      <div class="row justify-content-center my-4">
        <%= paginate @items %>
      </div>
    </div>
</div>
