<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= link_to destroy_customer_session_path, method: :delete do %>
      Log out
    <% end %>
    <%= link_to new_customer_session_path do %>
      Log in
    <% end %>
    <%= link_to new_customer_registration_path do %>
      Sign up
    <% end %>
    <%= yield %>
    
    testst
  </body>
</html>